<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Fake News Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h3>Fake News Detection</h3>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>About Us</h1>
        <div class="menu_inner">
            <div>
                <img src="" alt="">
                <h3>What is fake News</h3>
                <p>Fake news, defined by the New York Times as "a made up story with an intention to deceive". obtain for a secondary game is arguably one of the most serious challenges facing the news industry today. Fake news obtain has the aim of damaging the reputation of a person or entity or making money through advertising revenue</p>
            </div>
            <div>
                <img src="" alt="">
                <h3>Our Goals</h3>
                <p>The goal of the fake news challenge is to explore how artificial intelligence technologies particularly Machine Learning and it's algorithms might be leveraged to combat the fake news problem. We believe that these AI Technologies hold promise for significantly automating parts of the procedure human fact checkers use today to determine if story is real or a hoax.</p>
            </div>
            <div>
                <img src="" alt="">
                <h3>Process</h3>
                <p>Fortunately, the process can be broken down into steps or stages. A helpful first step towards identifying fake news is to understand what other news organizations are saying about the topic. We believe automating this process called stance detection, could serve as a useful building block in an AI assisted fact-checking pipeline</p>
            </div>
        </div>
    </main>
    <footer>
        <p>Copyright @bytanaya</p>
    </footer>
</body>
</html>
